@charset "UTF-8";

body {
    height: 98vh;
    border: 1px dashed black;
    background-image: url(han-comendo.jpg);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: left bottom;
}